/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */



/* Tooltip css */

.gravity-tooltip {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    background: url(../images/i.png) no-repeat;
    background-size: cover;
    margin-left: 5px;
    cursor: pointer;
}
  
.gravity-tooltip .gravity-tooltiptext {
    visibility: hidden;
    opacity: 0;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 10px 7px;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    bottom: -13px;
    left: 147%;
    font-size: 12px;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}
  
.gravity-tooltip .gravity-tooltiptext::after {
    content: "";
    position: absolute;
    right: 100%;
    margin-top: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent hsla(0, 0%, 20%, 0.9) transparent transparent;
}
.gravity-tooltip:hover .gravity-tooltiptext {
    visibility: visible;
    opacity: 1;
    transition:         
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}


/* Tooltip */
/* START TOOLTIP STYLES */
span.advanced-tooltip {
    display: inline-flex;
    width: auto;
    vertical-align: middle;
    margin-left: 7px;
    margin-top: -3px;
}
div.advanced-tooltip {
    display: block;
}
div.advanced-tooltip.tooltip-block {
    display: block;
}
.material-icons {
    cursor: pointer;
}
[tooltip] {
    position: relative; /* opinion 1 */
    display: block;
    width: 100%;
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}
[tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
    content: attr(tooltip);
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    /* white-space: nowrap; */
    overflow: hidden;
    width: max-content;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0px 3px 7px -2px rgb(41, 38, 38);
    background: #000;
    color: #fff;
    z-index: 1000;
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #000;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #000;
}
[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #000;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #000;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}
